@{
    ViewData["Title"] = "About Me";
}

<div class="container my-3 text-center">
    <div class="row mb-3 justify-content-center align-items-center">
        <div class="col-md-4">
            <img src="https://jimmysfarm.com/wp-content/uploads/2023/06/image00049.jpg" class="img-fluid rounded" alt="My Image" style="max-width: 300px;">
        </div>
        <div class="col-md-6">
            <h1>Hello, I'm Syranne Jahziel M. Maestro</h1>
        </div>
    </div>

    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-3">
            <img src="https://i.ebayimg.com/images/g/HcwAAOSwtDFjbjI1/s-l1200.jpg" alt="Hobby 1" class="img-fluid rounded-circle" style="max-width: 300px;">
            <p><strong>Playing Video Games</strong></p>
        </div>
        <div class="col-md-3">
            <img src="https://www.rei.com/dam/parrish_091412_0679_main_lg.jpg?t=ea16by9xs" alt="Hobby 2" class="img-fluid rounded-circle" style="max-width: 300px;">
            <p><strong>Hikings</strong></p>
        </div>
        <div class="col-md-3">
            <img src="https://emeritus.org/wp-content/uploads/2023/04/a10.png" alt="Hobby 3" class="img-fluid rounded-circle" style="max-width: 300px;">
            <p><strong>I enjoy stepping up and taking on leadership roles.</strong></p>
        </div>
    </div>

    <div class="mb-4">
        <p><strong>Age: 23 Years Old</strong></p>
        <p><strong>Year: 3rd</strong></p>
        <p><strong>Course: Bachelor of Science in Information Technology</strong></p>
    </div>
</div>
