@{
    ViewData["Title"] = "Contact Me";
}

<div class="container my-5 text-center">
    <h1 class="mb-4">Contact Me</h1>

    <div class="mb-4">
        <img src="https://i.chzbgr.com/full/9857141760/hC2B4945E/what-game-is-he-playing"
             class="img-fluid rounded-circle" style="width: 300px;" alt="Contact Photo">
    </div>

    <h3 class="mb-3">Syranne Jahziel M. Maestro</h3>
    <p><strong>Email:</strong> smaestro.college@gmail.com</p>
    <p><strong>Phone:</strong> +63 968 539 7589</p>

    <div class="mt-4">
        <h5>Follow Me</h5>
        <a href="https://facebook.com/mesyjejeii19" target="_blank" class="me-3">
            <img src="~/images/facebook-icon.png" alt="Facebook" width="32">
        </a>
    </div>
</div>
