@{
    ViewData["Title"] = "My Favorites";
}

<div class="container my-5">
    <h1 class="mb-4 text-center">My Favorites</h1>

    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/3241660/2cff5912c1add2e009eb1c1c630a47ac06cb81a1/capsule_616x353.jpg?t=1743517226"
                 class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h3><b>Games</b></h3>
            <p><strong>R.E.P.O</strong></p>
        </div>
    </div>

    <div class="row align-items-center mb-5 flex-md-row-reverse">
        <div class="col-md-6">
            <img src="https://mymorningmocha.com/wp-content/uploads/2023/09/biscoff-latte-recipe.jpg"
                 class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h3><b>Drinks</b></h3>
            <p><strong>Biscoff Latte</strong></p>
        </div>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <img src="https://atd-bloges.s3.us-east-2.amazonaws.com/wp-content/uploads/2023/06/30105654/8-51.webp"
                 class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h3><b>Colors</b></h3>
            <p><strong>Yellow and Black</strong></p>
        </div>
    </div>

    <div class="row align-items-center mb-5 flex-md-row-reverse">
        <div class="col-md-6">
            <img src="https://images.contentstack.io/v3/assets/bltcedd8dbd5891265b/bltcf8370ba0b3162f8/6790184458fb6d84f38112bc/cookie-types-hero-assorted-cookies.jpeg?q=70&width=3840&auto=webp"
                 class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h3><b>Food</b></h3>
            <p><strong>Cookies!</strong></p>
        </div>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <img src="https://resizing.flixster.com/aff4_uvzarNc17XI3duWKPEX9Pg=/fit-in/705x460/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p13762581_b_h9_aa.jpg"
                 class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h3><b>Movies/ Series</b></h3>
            <p><strong>13 Reasons Why</strong></p>
        </div>
    </div>

    <div class="row align-items-center mb-5 flex-md-row-reverse">
        <div class="col-md-6">
            <img src="https://static.billets.ca/artist/gxz/h2/gracie-abrams-1200x750.jpg"
                 class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h3><b>Artists</b></h3>
            <p><strong>Gracie Abrams</strong></p>
        </div>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <img src="https://just-music.fr/wp-content/uploads/2024/11/Gracie-Abrams-JustMusic.fr_.png"
                 class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h3><b>Music/ Songs</b></h3>
            <p><strong>That's So True</strong></p>
        </div>
    </div>
</div>