@{
    ViewData["Title"] = "My Gallery";
}

<div class="container my-5 text-center">
    <h1 class="mb-4">My Gallery</h1>

    <div class="row justify-content-center mb-4">
        <div class="col-md-3">
            <img src="https://preview.redd.it/capy-is-too-cool-v0-708lu6x7ok8b1.jpg?width=640&crop=smart&auto=webp&s=13e163db7ea1f909e0d13d68a10c6488e595d41b" class="img-fluid rounded" alt="Gallery 9">
        </div>
        <div class="col-md-3">
            <img src="https://i.redd.it/uh8k55l5cfr91.jpg" class="img-fluid rounded" alt="Gallery 2">
        </div>
        <div class="col-md-3">
            <img src="https://media.tenor.com/u-vKo5bRtcIAAAAe/capybara-capy.png" class="img-fluid rounded" alt="Gallery 3">
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-3">
            <img src="https://i.chzbgr.com/full/9704097024/h9A9BF212/animal-tired-sleepy-even-bapybara" class="img-fluid rounded" alt="Gallery 4">
        </div>
        <div class="col-md-3">
            <img src="https://cdn.pinno.app/api/internal/cdb/contents/544fb54d-e6ac-4b68-967b-a49c50210108/0/165344" class="img-fluid rounded" alt="Gallery 8">
        </div>
        <div class="col-md-3">
            <img src="https://preview.redd.it/3yotr9b6b3371.jpg?auto=webp&s=e5d1cde499fc710249229907620229cbfab47672" class="img-fluid rounded" alt="Gallery 6">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3">
            <img src="https://preview.redd.it/56716c7rw2g61.jpg?width=640&crop=smart&auto=webp&s=83410ff5b298d063cfc00025ccbdb5d207ea9ef7" class="img-fluid rounded" alt="Gallery 7">
        </div>
        <div class="col-md-3">
            <img src="https://static.wikia.nocookie.net/5edbb4c8-3390-42dc-b1bf-68a7c8c1347e/scale-to-width/755" class="img-fluid rounded" alt="Gallery 5">
        </div>
        <div class="col-md-3">
            <img src="https://www.boredpanda.com/blog/wp-content/uploads/2024/11/456719922_18334286146121290_5910919209312529447_n-6724b72dd572d__700.jpg" class="img-fluid rounded" alt="Gallery 1">
        </div>
    </div>
</div>