@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-4">"WIS?"</h1>
    <img src="https://www.rainforest-alliance.org/wp-content/uploads/2021/06/capybara-square-1.jpg.optimal.jpg"
         class="img-fluid rounded-circle" style="max-width: 400px;" alt="This is me" />
    <p class="lead">this is literally me.</p>
    <p class="lead">plz don't judge me.</p>
</div>

<section class="my-5">
    <h2><b>About This Page</b></h2>
    <p>
        This page is just a little space I made to share a bit about myself and the things I enjoy.
        I’m SY, 23, and honestly, I’m kind of like a capybara—chill, quiet, and just going with the flow.
        Most of my time goes into playing games on Steam and vibing to korean and indie pop music.
        I made this page to share some of my favorites, a few fun facts, and
        maybe even some quotes that keep me going.
        There's also a small gallery of random snapshots that made me smile.
        If you ever want to reach out, share something, or just say hi, feel free to check out my contact info.
        Thanks for dropping by—I hope you enjoy hanging out here, even just for a bit.
    </p>
</section>