@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Hey there! Just a quick note about privacy while you're checking out my page. I want you to feel comfortable, so here's what you need to know:</p>

<h3>1. My Personal Info is Just for Me</h2>
<p>This website is all about me and the things I want to share with you. Your privacy matters to me, so rest assured that no personal information is collected or shared here. My details are just for my eyes only!</p>

<h3>2. No Sharing, Ever!</h2>
<p>I don’t share any of your personal info with anyone, ever. What you see here stays between us—no sharing of data.</p>

<h3>3. Updates</h3>
<p>From time to time, I may update this privacy policy to keep it relevant. But don’t worry, I’ll make sure it’s always clear and easy to understand.</p>

<p>That’s it! Thanks for visiting, and I hope you enjoy your time here without any worries!</p>
