@{
    ViewData["Title"] = "My Quotes";
}

<div class="container my-5 text-center">
    <h1 class="mb-5">Favorite Quotes</h1>

    <div class="row justify-content-center mb-4">
        <div class="col-md-4">
            <img src="https://cdn.britannica.com/74/234474-050-A8FA4BB2/Serena-Williams-womens-single-trophy-Australian-Open-Januray-28-2017.jpg" class="img-fluid rounded mb-3" alt="Quote 1">
            <p class="fst-italic">“You have to believe in yourself when no one else does.” —Serena Williams</p>
        </div>

        <div class="col-md-4">
            <img src="https://www.universityofcalifornia.edu/sites/default/files/styles/article_default_banner/public/ucla_oscar_wilde_portrait_sarony.jpg?itok=CWMypRjm" class="img-fluid rounded mb-3" alt="Quote 3">
            <p class="fst-italic">“Be yourself; everyone else is already taken.” —Oscar Wilde</p>
        </div>

        <div class="col-md-4">
            <img src="https://assets.entrepreneur.com/content/3x2/2000/1617286255-GettyImages-80145055.jpg" class="img-fluid rounded mb-3" alt="Quote 2">
            <p class="fst-italic">“The most important thing is to enjoy your life—to be happy—it’s all that matters.” —Steve Jobs</p>
        </div>

    </div>
</div>